body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary);
}

h1,p,ul {
display: inline;
margin: 5px;
}

h1 {
    color: var(--primary);
}

li {
    font-style: italic;
    font-size: x-small;
}

section {
    /* design */
    background-color: var(--bg2);
    border: black solid 10px;
    border-radius: 60%;

    /* size */
    width: 25%;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;

    /* content alignment */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    rotate: 30deg;
}