.welcome-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    bottom: 20vh;
    left:0;
    right:0;
    margin: auto;
    margin-top: 10vh;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 20vw;
}